<!doctype html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" media="screen" />
</head>

<body>
    {% extends "base.html" %}

    {% block body %}
    <div>
        {% for row in data %}
            <div>
                <h4>{{row.rank}}. {{row.country}}</h4>
                <!-- <p>{{row.company}}</p>
                <p>{{row.percentage}}</p> -->
                <p>{{row.country}} is ranked at <b>{{row.rank}}</b>
                     because of having {{row.percentage}} percentage
                     of global carbon emissions, having {{row.company}}
                     contributing the most in {{row.country}}</p>
                
            </div>
        {% endfor %}
    </div>
    {% endblock %}
</body>

</html>